body {background-color:FFFFFF;background-image:url(http://);background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
h1{
        font-family: Arial;
        color: #CBD521;
}
h2{
        font-family: Arial;
        color: #CBD521;
}
h3{
        font-family: Arial;
        color: #CBD521;
}
h4{
        font-family: Arial;
        color: #CBD521;
}
p {font-family:Arial;font-size:14px;font-style:normal;font-weight:normal;color:000000;}
ul {font-family:Arial;font-size:14px;font-style:normal;font-weight:normal;color:000000;}
